name: Deploy Shiny App

on:
  push:
    paths:
      - 'data/**'     # triggers when anything in data folder changes
      - 'R/**'        # triggers when function scripts change
      - 'shiny/**'    # triggers when Shiny app changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up R
      uses: r-lib/actions/setup-r@v2

    - name: Install dependencies
      run: |
        Rscript -e 'install.packages(c("shiny","dplyr","readxl","xlsx","tidyverse","ggdark","ggthemes","tools","foreach"))'

    - name: Run preprocessing
      run: |
        Rscript loop_trial.R
        Rscript run_archive.R

    - name: Deploy to ShinyApps.io
      uses: rstudio/shinyapps-deploy@v1
      with:
        shinyapps-token: ${{ secrets.MY_SHINYAPPS_TOKEN }}
        shinyapps-secret: ${{ secrets.MY_SHINYAPPS_SECRET }}
        account: "federicograzi"
        app-name: "GlickoRanking"
        app-dir: "shiny"
